@import "../utils/variable.scss";

.header {
  align-items: center;
  background-color: #936639;
  //   display: flex;
  //   flex-direction: row;
  height: 50px;
  //   justify-content: flex-end;
  padding: 0 20px;
}
