@import "../utils/variable.scss";

.nav {
  display: flex;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  &__left {
    &__logo {
      width: 50px;
    }
  }
  &__right {
    a {
      color: $menu-color;
      font-weight: 600;
      padding-right: 30px;
      text-transform: uppercase;
    }
  }
}